@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container-home nav,
.container-services nav {
  width: 100%;
  background: #001;
  border-bottom: 2px solid white;
  opacity: 0.8;
  filter: alpha(opacity=50); 
 
  display: flex;
  justify-content: space-between;
}

.container-home nav .nav-logo, 
.container-services nav .nav-logo {
  font-size: 30px; 
  display: flex;
  align-items: center;
}


.container-home nav .nav-logo .titulo-logo label,
.container-services nav .nav-logo .titulo-logo label {
  font-style: italic;
}

.container-home nav .nav-logo .titulo-logo label label[for=auto],
.container-services nav .nav-logo .titulo-logo label label[for=auto] {
  color: #ea202e;
}

.container-home nav .nav-item,
.container-services nav .nav-item {
  display: flex;
  align-items: center;
}

.container-home nav .nav-item ul,
.container-services nav .nav-item ul {
  display: flex;
  list-style: none;
}

.container-home nav .nav-item ul li,
.container-services nav .nav-item ul li {
  /*margin: 0 5px 0;*/
  padding: 20px;
  transition-delay: 0.2s;
}

.container-home nav .nav-item ul li:hover,
.container-services nav .nav-item ul li:hover {
  background: #002;
}

.container-services nav .nav-item ul li a:hover,
.container-home nav .nav-item ul li a:hover {
  /*color: #ea202e;*/
}

